// заголовок (скрытие)
.section-title.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.features {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .item {
      flex: calc(50% - 30px); // Два элемента в ряд на экране от 768px до 1199px
    }
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap; // Отключаем перенос строк
    gap: 0; // Убираем общий gap

    .item {
      // Устанавливаем отступ слева
      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  .icon-container {
    @extend %flex-align-center;
    justify-content: center;

    // width: 270px;
    height: 120px;
    background-color: $secondary-bg-color;
    margin-bottom: 30px;
  }
  .features-icon {
    display: block;
  }

  .title {
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}
