.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: $footer-bg-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Header480.jpg);

  @media (min-resolution: 2dppx) {
    background-image: url(../images/Header2x480.jpg);
  }
  @media (min-width: 480px) {
    background-image: url(../images/Header768.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/Header2x768.jpg);
    }
  }
  @media (min-width: 768px) {
    background-image: url(../images/Header1200.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/Header2x1200.jpg);
    }
  }
  background-position: center;
  background-size: cover;
  text-align: center;

  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}

.hero-title {
  color: $primary-white-color;

  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
