$primary-text-color: #757575;
$title-text-color: #212121;
$acctent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-color: #000000;
$contact-info-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$secondary-bg-icon: rgba(255, 255, 255, 0.1);
$services-bg-color: rgba(47, 48, 58, 0.8);
$works-bg-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$form-border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$fotter-border-form-color: rgba(255, 255, 255, 0.3);
$portfolio-border-color: #eeeeee;
$font-primary: "Roboto", sans-serif;
$font-secondary: raleway, sans-serif;
